body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #181818;
    color: #e0e0e0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
}

header h1 {
    letter-spacing: 8px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    flex-grow: 1;
}

.profile-container {
    height: 220px;
    display: flex;
    padding: 40px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.profile-card {
    display: flex;
    flex: 0 0 70%;
    padding: 20px;
    box-sizing: border-box;
}

.profile-photo {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal-info {
    flex: 0 0 70%;
    padding: 0 20px;
}

.portfolio-info {
    height: 220px;
    flex: 0 0 30%;
    padding: 20px;
    box-sizing: border-box;
    min-width: 250px;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.tile {
    height: 220px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    flex: 1;
}

.portfolio-info h3, .settings-container h3 {
    margin-top: 0;
}

.value {
    font-weight: bold;
}

.profit {
    color: #4caf50;
}

.settings-container {
    margin-top: 40px;
}

.settings-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.settings-btn:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
}

body.dark-mode footer {
    background-color: #2c2c2c;
}

.tile:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

body.dark-mode .tile {
    background-color: #333;
}

body.dark-mode .tile h3 {
    color: #e0e0e0;
}

body.dark-mode .tile p {
    color: #bbbbbb;
}
.settings-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px ;
}

.settings-btn {
    flex: 1;
    padding: 12px;
    margin: 0 10px;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.edit-btn {
    background-color: #007bff;
}

.change-password-btn {
    background-color: #00c241;
}

.logout-btn {
    background-color: #dc3545;
}

.settings-btn:hover {
    transform: translateY(-2px);
}

.settings-btn:active {
    transform: translateY(0);
}

h3{
    margin-left: 15px;
}
a {
    text-decoration: none;
    color: #ffffff;
}
