body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333; 
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;
}


body.dark-mode {
    background-color: #181818;
    color: #e0e0e0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #007bff;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow: hidden;
}

header h1 {
    letter-spacing: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    text-align: center;
    flex: 1;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: calc(100% - 60px);
    background-color: #ffffff;
    color: #333;
    padding-top: 70px;
    padding-bottom: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar:hover {
    width: 140px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 5px;
}

.sidebar li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.sidebar a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    position: relative;
    white-space: nowrap;
}



.sidebar a span {
    opacity: 1;
    transition: opacity 0.3s ease;
    margin-left: 10px;
}


.sidebar a:hover {
    background-color: #e0e0e0;
}

.sidebar a:hover span {
    opacity: 1;
}

.crypto-icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}


.sidebar-bottom  {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
}

.sidebar-bottom a {
    margin: 5px 0;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.sidebar-bottom a:hover  {
    background-color: #e0e0e0;
}

body.dark-mode .sidebar-bottom a:hover {
    background-color: #444;
}



.icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
    text-decoration: none;
    padding: 10px;
    width: 100%;
    transition: background-color 0.3s ease;
    position: relative;
    white-space: nowrap;
}

.icon-button:hover {
    border-radius: 8px;
    background-color: black;
}

.icon {
    width: 20px; 
    height: 20px;
}


.main-content {
    margin-top: 5px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.chart-container {
    border: 1px, solid;
    width: 75%;
    height: 400px;
    background-color: #ffffff;
    color: #333;
    
    padding: 20px;
}


.price-display {
    border: 1px, solid;
    width: 25%;
    height: 400px;
    background-color: #ffffff;
    padding: 20px;
    
    text-align: center;
    color: #333;
}


.quantity-management {
    width: 20%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    color: #333;
}

.quantity-controls {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.quantity-controls input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.cart-dropdown {
    display: none;
}

.cart-dropdown.show {
    display: block;
}

.cart-items {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    max-height: 150px;
    overflow-y: auto;
    color: #333;
}

.cart-item {
    padding: 5px 0;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    color: #333;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}


body.dark-mode header {
    background-color: #222;
    color: #ffffff;
}

body.dark-mode .sidebar {
    background-color: #2c2c2c;
    color: #ffffff;
}

body.dark-mode .sidebar a {
    color: #ffffff;
}

body.dark-mode .sidebar a:hover {
    background-color: #444;
}

body.dark-mode .chart-container {
    background-color: #2c2c2c;
    color: #ffffff;
}

body.dark-mode .price-display,
body.dark-mode .quantity-management {
    background-color: #2c2c2c;
    color: #ffffff;
}

body.dark-mode .quantity-controls input {
    background-color: #555;
    color: #ffffff;
    border: 1px solid #444;
}

body.dark-mode .cart-items {
    background-color: #333;
    border: 1px solid #444;
    color: #ffffff;
}

body.dark-mode footer {
    background-color: #222;
    color: #ffffff;
}


button, .button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


button:hover, .button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}


button:disabled, .button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    box-shadow: none;
}


button.secondary, .button.secondary {
    background-color: #6c757d;
}

button.secondary:hover, .button.secondary:hover {
    background-color: #5a6268;
}


button.success, .button.success {
    background-color: #28a745;
}

button.success:hover, .button.success:hover {
    background-color: #218838;
}


button.danger, .button.danger {
    background-color: #dc3545;
}

button.danger:hover, .button.danger:hover {
    background-color: #c82333;
}


.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}


.icon-button:hover {
    background-color: #e0e0e0;
}


#addCrypto {
    background-color: #28a745;
    color: white;
}

#addCrypto:hover {
    background-color: #218838;
    transform: scale(1.05);
}

#addCrypto:active {
    background-color: #1e7e34;
    transform: scale(0.95);
}


#removeCrypto {
    background-color: #dc3545;
    color: white;
}

#removeCrypto:hover {
    background-color: #c82333;
    transform: scale(1.05);
}

#removeCrypto:active {
    background-color: #bd2130;
    transform: scale(0.95);
}


#addCrypto, #removeCrypto {
    margin-top: 10px;
}


.price-display div {
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 10px;
}


#cryptoName {
    width: auto;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #333;
    margin-bottom: 10px;
    appearance: none;
    outline: none;
    transition: border-color 0.3s ease;
}

#cryptoName:hover,
#cryptoName:focus {
    border-color: #333;
}


#cryptoQuantity {
    width: auto;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
}

#cryptoQuantity:hover,
#cryptoQuantity:focus {
    border-color: #333;
}


.price-display {
    display: flex;
    flex-direction: column;
    gap:auto;
}


.cart-dropdown {
    display: none;
    position: absolute;
    top: 65px;
    right: 10px;
    width: 180px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}


.cart-container:hover .cart-dropdown,
.cart-dropdown:hover {
    display: block;
}

.cart-items {
    max-height: 150px;
    overflow-y: auto;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.cart-item {
    font-size: medium !important;
    padding: 3px 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}


.remove-item {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 3px 6px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.7em;
}

.remove-item:hover {
    background-color: #c82333;
}

#cartButton {
    position: relative;
    cursor: pointer;
}


.navbar {
    margin-top: 60px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 0px 20px;
    display: flex;
    justify-content: flex-end;
    border-radius: 8px;
}


.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}


.navbar li {
    margin-left: 25px;
}


.navbar a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 5px;
    border-radius: 5px;
}


.navbar a:hover {
    color: #007bff;
    transform: translateY(-2px);
}


body.dark-mode .navbar {
    background-color: #2c2c2c;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

body.dark-mode .navbar a {
    color: #ffffff;
}

body.dark-mode .navbar a:hover {
    color: #007bff;
    transform: translateY(-2px);
}

.sidebar-bottom {
    background-color: var(--sidebar-bg-bottom);
    color: var(--sidebar-text);
}


.sidebar-item:hover {
    background-color: var(--sidebar-hover-bg);
    color: var(--sidebar-hover-text);
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.2s ease;
}


:root {
   
    --sidebar-bg: #ffffff;
    --sidebar-text: #333333;
    --sidebar-hover-bg: #f0f0f0;
    --sidebar-hover-text: #111111;
    --sidebar-bg-bottom: #dddddd;
}

.dark-mode {
   
    --sidebar-bg: #2c2c2c;
    --sidebar-text: #e0e0e0;
    --sidebar-hover-bg: #1a1a1a;
    --sidebar-hover-text: #ffffff;
    --sidebar-bg-bottom: #1e1e1e;
}


:root {
   
    --sidebar-bg: #ffffff;
    --sidebar-text: #333;
    --sidebar-hover-bg: #e0e0e0;
    --sidebar-hover-text: #333;

   
    --sidebar-bg-dark: #2c2c2c;
    --sidebar-text-dark: #ffffff;
    --sidebar-hover-bg-dark: #444;
    --sidebar-hover-text-dark: #ffffff;
    --sidebar-bottom-bg-dark: #181818;
}


.sidebar {
    background-color: var(--sidebar-bg);
    color: var(--sidebar-text);
}

.sidebar a {
    color: var(--sidebar-text);
}

.sidebar a:hover {
    background-color: var(--sidebar-hover-bg);
    color: var(--sidebar-hover-text);
}


.sidebar-bottom {
    background-color: var(--sidebar-bg);
    color: var(--sidebar-text);
}


body.dark-mode .sidebar {
    background-color: var(--sidebar-bg-dark);
    color: var(--sidebar-text-dark);
}

body.dark-mode .sidebar a {
    color: var(--sidebar-text-dark);
}

body.dark-mode .sidebar a:hover {
    background-color: var(--sidebar-hover-bg-dark);
    color: var(--sidebar-hover-text-dark);
}


body.dark-mode .sidebar-bottom {
    background-color: var(--sidebar-bottom-bg-dark);
    color: var(--sidebar-text-dark);
}


body.dark-mode .sidebar-bottom .icon-button:hover {
    background-color: var(--sidebar-hover-bg-dark);
}


body.dark-mode .icon-button {
    transition: background-color 0.3s ease, transform 0.2s ease;
    color: var(--sidebar-text-dark);
}

body.dark-mode .icon-button:hover {
    background-color: var(--sidebar-hover-bg-dark);
    color: var(--sidebar-hover-text-dark);
    transform: scale(1.05);
}


.sidebar:hover .sidebar-bottom .icon-button:hover {
    background-color: var(--sidebar-hover-bg);
    transform: scale(1.05);
}

body.dark-mode .sidebar:hover .sidebar-bottom .icon-button:hover {
    background-color: var(--sidebar-hover-bg-dark);
}

.header-buttons button {
    margin: 0 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #007bff;
    transition: background-color 0.3s ease;
}

.header-buttons button:hover {
    background-color: #e0e0e0;
}
a {
    text-decoration: none;
    color: #ffffff;
}

